<template>
  <v-form @submit.prevent="login">
    <v-container>
        <v-text-field
        v-model="form.email"
        label="E-mail"
        type="email"
        required
        ></v-text-field>

        <v-text-field
        v-model="form.password"
        label="Password"
        type="password"
        required
        ></v-text-field>

        <v-btn
        color="success"
        type="submit"
        >Sign In
        </v-btn>

        <router-link to="/signup">
            <v-btn color="primary">Sign Up</v-btn>
        </router-link>
    </v-container>
  </v-form>
</template>

<script>
export default {
    data() {
        return {
            form: {
                email: null,
                password: null
            }
        }
    },
    created() {
        if(User.loggedIn()) {
            this.$router.push({name: 'forum'})
        }
    },
    methods: {
        login() {
           User.login(this.form)
        }
    }
}
</script>

<style lang="">
    
</style>