<template>
    <v-form @submit.prevent="signup">
        <v-container>
            <v-text-field
            v-model="form.name"
            label="name"
            type="text"
            required
            ></v-text-field>

            <span v-if="errors.name">
            <v-alert
            dense
            outlined
            type="error"
            >
            {{errors.name[0]}}
            </v-alert>
            </span>


            <v-text-field
            v-model="form.email"
            label="E-mail"
            type="email"
            required
            ></v-text-field>

            <span v-if="errors.email">
            <v-alert
            dense
            outlined
            type="error"
            >
            {{errors.email[0]}}
            </v-alert>
            </span>

            <v-text-field
            v-model="form.password"
            label="Password"
            type="password"
            required
            ></v-text-field>

            <span v-if="errors.password">
            <v-alert
            dense
            outlined
            type="error"
            >
            {{errors.password[0]}}
            </v-alert>
            </span>

             <v-text-field
            v-model="form.password_confirmation"
            label="Password"
            type="password"
            required
            ></v-text-field>

            <v-btn
            color="success"
            type="submit"
            >Sign Up
            </v-btn>

             <router-link to="/login">
                <v-btn color="primary">Log In</v-btn>
             </router-link>
        </v-container>
    </v-form>
</template>

<script>
export default {
    data() {
        return {
            form: {
                name: null,
                email: null,
                password: null,
                password_confirmation: null
            },
            errors: {

            }
        }
    },
    created() {
        if(User.loggedIn()) {
            this.$router.push({name: 'task'})
        }
    },
    methods: {
        signup() {
            axios.post('api/auth/signup', this.form)
                 .then(response => {
                    User.responseAfterLogin(response)
                    this.$router.push({name: 'task'})
                 })
                 .catch(error => console.log(error));
        }
    }
}
</script>

<style lang="">
    
</style>