<template>
  <div>
    <v-toolbar>
      <v-toolbar-title>Task SPA</v-toolbar-title>

      <v-spacer></v-spacer>

      <div>
          <router-link 
          v-for="item in items"
          :key="item.title"
          :to="item.to"
           v-if="item.show"
         >
            <v-btn text>{{item.title}}</v-btn>
          </router-link>
      </div>
    </v-toolbar>
  </div>
</template>

<script>
export default {
    data() {
        return {
            items: [
                {title: 'Task', to: '/task', show: true},
                {title: 'Create', to: '/create', show: User.loggedIn()},
                {title: 'Login', to: '/login',show: !User.loggedIn() },
                {title: 'Log Out', to: '/logout',show: User.loggedIn()},
            ]
        }
    },
    created() {
        EventBus.$on('logout', () => {
            User.logout();
           window.location.href = '/task'
        });
    },
}
</script>

<style lang="">
    
</style>