<template>
<v-form @submit.prevent="create">
    <v-container>
        <v-text-field
        v-model="form.title"
        label="Title"
        required
        ></v-text-field>

        <vue-simplemde v-model="form.description"  />

        <v-btn
        color="success"
        type="submit"
        >Create
        </v-btn>
    </v-container>
  </v-form>
</template>

<script>
export default {
    data() {
        return {
            form: {
                title: null,
                description: null,
            }
        }
    },
    methods: {
        create() {
            axios.post('api/task', this.form)
            .then(response => this.$router.push(response.data.path))
            .catch(error => this.errors = error.response.data.Error)
        }
    }
}
</script>