<template>
    <div>
        <v-container>
            <v-form @submit.prevent="update">
                <v-text-field
                v-model="form.title"
                label="Title"
                required
                value=""
                ></v-text-field>

                 <vue-simplemde v-model="form.description"  />
             

                    <v-card-actions>
                        <v-btn icon small type="submit">
                            <v-icon color="green">mdi-content-save</v-icon>
                        </v-btn>
                        <v-btn icon small @click="cancel">
                            <v-icon color="red">mdi-close-circle</v-icon>
                        </v-btn>
                    </v-card-actions>
            </v-form>
        </v-container>
    </div>
</template>

<script>
export default {
    props:['data'],
    data(){
        return {
            form: {
                title: null,
                body:null
            }
        }
    },
    mounted(){
        this.form = this.data;
    },
    methods: {
        cancel() {
            EventBus.$emit('cancelEditing');
        },
        update(){
             axios.patch(`/api/task/${this.form.slug}`, this.form)
            .then(response => this.cancel())
            .catch(error => console.log(error.response.data))
        }
    }
}
</script>