<template>
    <div>

        <edit-task 
        v-if="editing"
        :data="task"
        ></edit-task>

        <show-task
        v-else
        :data="task"
        >
        </show-task>
    </div>
</template>

<script>
import ShowTask from './ShowTask';
import EditTask from './EditTask';
export default {
    data() {
        return {
            task: {},
            editing: false
        }
    },
    components: {
        ShowTask,
        EditTask
    },
    created(){
          this.listen();
          this.getTasks();
    },
    methods: {
        listen(){
             EventBus.$on('startEditing', ()=> {
                this.editing = true;
            });

             EventBus.$on('cancelEditing', ()=> {
                this.editing = false;
            })
        },
        getTasks(){
            axios.get(`/api/task/${this.$route.params.slug}`)
            .then(response => this.task = response.data.data)
        }
    }
}
</script>