<template>
       <div>
        <v-card class="mt-5">
            <v-container fluid>
                <v-card-title>
                    <div>
                        <div class="headline">
                            {{data.title}}
                        </div>
                    <span class="grey--text"> {{data.user}} said {{data.created_at }} </span>
                    </div>
                    <v-spacer></v-spacer>
                </v-card-title>
                <v-card-text v-html="data.description"></v-card-text>
                <v-card-actions>
                    <v-btn icon small>
                        <v-icon color="orange" @click="edit">mdi-pencil</v-icon>
                    </v-btn>
                     <v-btn icon small >
                        <v-icon color="red" @click="destroy">mdi-delete</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-container>
        </v-card>
    </div>
</template>

<script>
export default {
    props:['data'],
    methods: {
        destroy() {
            axios.delete(`/api/task/${this.data.slug}`)
            .then(response => this.$router.push('/task'))
            .catch(error => console.log(error.response.data))
            
        },
        edit() {
            EventBus.$emit('startEditing')
        }
    },
}
</script>