<template>
    <div v-if="tasks">
        <single-task
        v-for="task in tasks"
        :key="task.slug"
        :data="task"
        ></single-task>
    </div>
</template>

<script>
import SingleTask from './Task';
export default {
    data() {
        return {
            tasks: {}
        }
    },
    created() {
        axios.get('/api/task')
        .then(response => this.tasks = response.data.data)
        .catch(error => console.log(error))
    },
    components: {
        SingleTask,
    }
}
</script>